body {
    width: 100%;
    margin: 0;
    background-color: #002868;
}

#header {
    background-color: #002868;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    display: flex;
    border-bottom: 8px groove red;
}

#header h1 {
    padding-left: 10px;
    color: white;
}

#pages {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 50%;
}

.button {
    background-color: red;
    height: 20px;
    width: auto;
    border-radius: 3px;
}

.button h2 {
    font-size: 15px;
    padding: 3px 5px;
    margin: 0;
}

#header #logo {
    background-color: black;
    width: auto;
    height: inherit;
    padding-right: 10px;
    align-items: center;
    display: flex;
}

#header #logo h1 {
    letter-spacing: 2px;
}

#logo_thing {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blue_box {
    background-color: #002868;
    height: 33%;
    width: 33%;
}

.blue_box1 {
    background-color: #002868;
    height: 34%;
    width: 34%;
}

.white_box1 {
    background-color: white;
    height: 34%;
    width: 34%;
}

.white_box {
    background-color: white;
    height: 33%;
    width: 33%;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    color: black;
    margin-top: 50px;
}

#body {
    width: 80%;
    margin: 0 10%;
    background-color: white;
    height: auto;
    justify-content: center;
    margin-top: 58px;
}

.logoimg {
    width: 70%;
    height: auto;
    margin: 20px 15%;
}

#body h1 {
    width: 80%;
    text-align: center;
    margin: 0 10%;
}

#body h2 {
    width: 70%;
    margin: 0 15%;
    text-align: center;
}

.pic1 {
    width: 80%;
    object-fit: contain;
    margin-left: 10%;
    margin-top: 10%;
}

#imgthing {
    background-color: red;
    margin-left: 53%;
    width: 40%;
    border: 3px solid black;
    margin-top: 20px;
    height: 600px;
}

#imgthing p {
    margin-bottom: 60px;
    text-align: center;
}

.small_pic {
    width: 300px;
    height: 300px;
}